<div id="logo"> 
	<img src="images/openpaper_logo.png"/>
</div>

<div id="content">
	<form id="searchBox" action="#" method="post">
	  
	    <div>
	        <input type="text" name="name" id="name" placeholder="Machine Learning..." value="" tabindex="1" />
	    </div>
	    
	</form>
	
	<div id="subtext">
		<p>
			Academic papers for all.
		</p>
	</div>
</div>


