<!doctype html> 
<html lang="en">
<head>  
	<meta charset="utf8">  
	<title><%= @title + ' | Paper' %></title>  
	<link rel="stylesheet" href="../styles/style.css" type="text/css" />
	
	<script src="../scripts/jquery.min.js"></script>
	<script src="../scripts/main.js"></script>
	
</head> 
<body>

	<div id="main">
		<div id="logo"> 
			<img src="images/openpaper_logo.png"/>
		</div>

		<div id="content">
			<form id="searchBox" action="/search/" method="get">
			  
			    <div>
				        <input type="text" name="q" id="name" placeholder="Machine Learning..." value="" tabindex="1" />
				        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
			    </div>
			    
			</form>
			
			<div id="subtext">
				<p>
					Academic papers for all. <br>
				</p>
				<p> We've indexed <%= @paper_count %> papers so far.
			</div>
		</div>
	</div>

</body>
</html>