<!doctype html> 
<html lang="en">
<head>  
	<meta charset="utf8">  
	<title><%= @title + ' | Paper' %></title>  
	<link rel="stylesheet" href="../styles/style.css" type="text/css" />
	
	<script src="../scripts/jquery.min.js"></script>
	<script src="../scripts/main.js"></script>
</head> 
<body>

	<div id="main">
		<%= yield %>
	</div>

</body>
</html>