<!doctype html> 
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="../styles/reset.css" type="text/css" />
	<link rel="stylesheet" href="../styles/papers_style.css" type="text/css" />
	<title> OpenPaper </title>
	<meta name="description" content="OpenPaper" />
	<meta name="keywords" content="" />
</head>


<body>

<div id="logo"> 
	<img src="images/openpaper_logo.png"/>
</div>

<div id="box">
	
	<div id="filter-bar">
		<form action="#" method="post">	
	        <div>
	            <input type="search" name="name" id="name" placeholder="Filter..." />
	        </div>
		</form>
	</div>
	
	<div id="content">
		
		<ul class="rectangle-list">
			<% @papers.each do |paper| %>
				<li><a href=""> <%= paper.title %> 
				<img class="avatar" src=<%= paper.author_avatar %> />
				</a></li>			
			<% end %>
		</ul>
	</div>
	
	<footer>· OpenPaper ·</footer>
</div>

</body>
</html>


