<html>
<body> 

<h3> Papers </h3>
<table>
<tr>
	<th> Title </th>
	<th> Author </th>
	<th> School </th>
</tr>
<% records.each do | record | %> <!-- Run but not displayed --> 
	<tr>
	<td><%= record["title"] %> <!-- Specifies title --> </td>
	<td><%= record["author"] %> <!-- Specifies author --> </td>
	<td><%= record["school"] %> <!-- Specifies school --> </td>
	</tr>
<% end %>

</body>
</html>