body {
	background: url(../images/bg.png) #f5f5f5;
	-webkit-user-select: none;
	
	/*Reset Safari User Agent Styles*/
	* { padding: 0 }
	
	font: 12px "Helvetica";
	opacity: 1;
	color: #333;
	font: 13px/13px Helvetica, sans-serif;
	text-rendering: optimizeLegibility;
	border-top: 8px solid #00aeef;
		
	font-weight: normal;
	-webkit-padding-start: 0px;
	
	height: auto;
	min-height: 100%;
}


#content {
	padding: 4px;
	border-radius: 8px;
	background-color: white;
	width: 920px;
	height: 600px;
	/* Will maybe want to addd this back */
	/* padding: 20px; */
	display: block;
	-webkit-box-shadow: 0 2px 4px #777;
	   -moz-box-shadow: 0 2px 4px #777;
			box-shadow: 0 2px 4px #777;
	margin: -5px auto 6%;
	overflow: scroll;
}

#filter-bar {
	width: 930px;
	height: 45px;
	display: block;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	
	background-image: url(http://assets0.favster.fm/assets/1x-sprites-horizontal-s835ba4208e-d4d69d638a46d2b1cb7240103473cb1a.png);
	background-position: 0px -96px;
	background-repeat: repeat-x;
	margin: 60px auto auto;
	z-index: 100;
}

ul{
	list-style: none;
	font: bold 16px Kefa, "Futura Std", Helvetica, "lucida sans";
	padding: 0;
	margin-bottom: 1em;
	z-index: 1;
}

ul p{
	font: italic normal 16px Kefa, "Futura Std", Helvetica, "lucida sans";
	display:inline;
}

li{
	position: relative;
	text-decoration: none;
	display: block;
	padding: .5em .4em .8em .8em;
	margin: 0;
	background-color: fcfcfc;
	color: #444;
	border-top: 1px solid #e3e3e3;
	z-index:0;
}

li:hover{
	border-right: 10px solid #00aeef;
	background-color: #abe4fa;
	border-radius: 0px
}

li a{
	text-decoration: none;
	color: black;
}

input {
	-moz-appearance:none;
	-webkit-appearance:none;
    border-radius:8px;
	padding:5px;
	padding-left: 2px;
	padding-right: 0;
	margin-top: 5px;
	margin-left: 10px;
	width: 200px;
	font: 14px Futura;
}

input:focus { 
    outline:none;
    border-color:#9ecaed;
}	

#logo {
	width: 271px;
	height: 47px;
	margin: 20px auto 0;
}

.avatar {
	height: 40px;
	border-radius: 8px;
	vertical-align: middle;
	margin-left: 100px;
}


footer {
	position: relative;
	margin-top: -50px;
	height: 20px;
	clear: both;
	color: white;
	background-color: #00aeef;
	min-width: 1100px;
	text-align: center;
	font: bold 1em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#box {

}

.source-button {
	-moz-box-shadow:inset 0px 2px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 2px 0px 0px #ffffff;
	box-shadow:inset 0px 2px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #f6f6f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-size:20px;
	font-weight:bold;
	vertical-align: middle;
	margin-left: 10px;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	z-index: 1001
}

.source-button:active {
	position:relative;
	top:1px;
}







/*





.rectangle-list a:hover{
	opacity: 0.90;
}	

.rectangle-list a:before{
	position: absolute;	
	left: -2.0em;
	top: 0%;
	margin-top: 0em;
	 background: #00aeef; 
	background: -webkit-linear-gradient(top, rgb(0, 157, 220) 0%, rgb(0, 127, 179) 100%);
	height: 100%;
	width: 30px;
	line-height: 2em;
	text-align: center;
	font-weight: bold;	
}


.rectangle-list p {
	font: normal 15px "Futura Std", Helvetica, "lucida sans";
	padding: 0;
	margin: 0;
}

*/